$ cat .gitattributes
Web/font-awesome/* linguist-vendored
Web/libraries/* linguist-vendored
Web/js/flot/* linguist-vendored
Web/js/morris/* linguist-vendored
Web/js/tablesorter/* linguist-vendored
Web/js/bootstrap-datepicker.js linguist-vendored
Web/js/bootstrap-datetimepicker.js linguist-vendored
Web/js/bootstrap.js linguist-vendored
Web/js/bootstrap.min.js linguist-vendored
Web/js/bootstrap.min2.js linguist-vendored
Web/js/jquery-1.10.2.js linguist-vendored
Web/js/moment.js linguist-vendored
